<table>
<% @results.each do |result| %>
  <tr>
    <td>
      <%= "Rank - #{result[:rank]} | Team Name - #{result[:team_name]} | Score - #{result[:through_third_round]}"  %>
    </td>
  </tr>
<% end %>
</table>
