<table>
<% @results.each do |result| %>
  <tr>
    <td>
      <%= "Rank: #{result[:rank]}    |    #{result[:team_name]}    |    #{result[:through_third_round]}"  %>
    </td>
  </tr>
<% end %>
</table>
